/*
	Created on 8-Apr-2013, by mitthu, alongwith manthan.
	For capsule chrome extension.
*/

::selection, ::-moz-selection {
	background-color: #f48ff5;
}

.highlight {
    border-radius: 7px;
    background-color: yellow;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 1px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.alert {
	margin: 0;
	border-radius: 0;
}

.no-display {
	display: none;
}
